# Whitelists .gitignore, .cpp, .hpp, .h files

# Pattern to ignore all files
*

# Pattern to not ignore .gitignore
!.gitignore
# Patterns to not ignore any .cpp, .hpp, .h, .csv files
!*.cpp
!*.hpp
!*.h
!*.csv

# Patterns to not ignore makefile and README doc
!makefile
!README.md
